In [1]:
class Employee: # Class declaration

    # Class variables
    raise_amount = 1.04
    emp_count = 0
    
    def __init__(self, first_name, last_name, salary): # This is a constructor used to initialize the objects of the class
        self.first_name = first_name
        self.last_name = last_name
        self.email = first_name.replace(' ', '').lower() + '.' + last_name.replace(' ', '').lower() + '@example.com'
        self.salary = salary
        Employee.emp_count += 1

    def full_name(self):
        return self.first_name + ' ' + self.last_name

    def apply_increment(self):
        self.salary = int(self.salary * self.raise_amount)

    @classmethod
    def set_raise_amount(cls, amount):
        cls.raise_amount = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-') # Parse the string.
        return cls(first, last, pay) # Create a class object and return it.

    # A method which neither takes the class nor any instance of the class as an argument, but, somehow is logically connected to the class.
    @staticmethod 
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        else:
            return True

    # Special methods
    def __repr__(self): 
        return f'{self.__class__.__name__}(\'{self.first_name}\', \'{self.last_name}\', {self.salary})'

    def __str__(self):
        return f'Employee Name: {self.full_name()}\n' \
               f'Salary: {self.salary}'

In [2]:
class Developer(Employee):

    # Class variables
    raise_amount = 1.10

    def __init__(self, first_name, last_name, salary, lang):
        super().__init__(first_name, last_name, salary)
        self.programming_language = lang

    def __repr__(self):
        return f'{self.__class__.__name__}(\'{self.first_name}\', \'{self.last_name}\', {self.salary}, \'{self.programming_language}\')'

    def __str__(self):
        return f'Employee Name: {self.full_name()}\n' \
               f'Salary: {self.salary}\n' \
               f'Role: {self.programming_language} {self.__class__.__name__}'

In [3]:
class Manager(Employee):

    # Class variables
    raise_amount = 1.15

    def __init__(self, first_name, last_name, salary, *args):
        super().__init__(first_name, last_name, salary)
        if len(args) == 0:
            self.subordinates = []
        else:
            self.subordinates = list(args)

    def add_employee(self, emp_name):
        if emp_name not in self.subordinates:
            self.subordinates.append(emp_name)

    def remove_employee(self, emp_name):
        if emp_name in self.subordinates:
            self.subordinates.remove(emp_name)

    def display_subordinates(self):
        print(f'Manager\'s Name: {self.full_name()}')
        print('Subordinates:')
        for item in self.subordinates:
            print(item.full_name())

    def __repr__(self):
        return f'{self.__class__.__name__}(\'{self.first_name}\', \'{self.last_name}\', {self.salary}, {self.subordinates})'

    def __str__(self):
        return f'Employee Name: {self.full_name()}\n' \
               f'Role: {self.__class__.__name__}\n' \
               f'Salary: {self.salary}\n' \
               f'Subordinates: {self.subordinates}'

In [4]:
emp1 = Employee('Henry', 'Miller', 50000)
emp2 = Employee('Dan', 'Steve', 60000)

emp3_str_format = 'John-Smith-51100'
emp4_str_format = 'Jane-Doe-52100'
emp5_str_format = 'James-Scott-53100'

emp3 = Employee.from_string(emp3_str_format)
emp4 = Employee.from_string(emp4_str_format)
emp5 = Employee.from_string(emp5_str_format)

In [5]:
dev1 = Developer('Ed', 'Chase', 75000, 'Python')
dev2 = Developer('Zero', 'Cage', 77000, 'C++')
dev3 = Developer('Elvis', 'Marx', 76000, 'Java')
dev4 = Developer('Bob', 'Fawcett', 79000, 'C')

In [6]:
mgr1 = Manager('Johnny', 'Cage', 120000, dev2, dev4, emp3)
mgr2 = Manager('Gary', 'Penn', 120000, dev1, dev3, emp4)

In [7]:
dev1.apply_increment()
dev2.apply_increment()
dev3.apply_increment()
dev4.apply_increment()

print(dev1.salary)
print(dev2.salary)
print(dev3.salary)
print(dev4.salary)

82500
84700
83600
86900

In [8]:
print(dev1.full_name())
print(dev2.full_name())
print(dev3.full_name())
print(dev4.full_name())

Ed Chase
Zero Cage
Elvis Marx
Bob Fawcett

In [9]:
mgr1.add_employee(emp1)

In [10]:
mgr2.add_employee(emp2)

In [11]:
mgr2.add_employee(emp5)

In [12]:
mgr2.remove_employee(emp5)

In [13]:
mgr1.display_subordinates()

Manager's Name: Johnny Cage
Subordinates:
Zero Cage
Bob Fawcett
John Smith
Henry Miller

In [14]:
mgr2.display_subordinates()

Manager's Name: Gary Penn
Subordinates:
Ed Chase
Elvis Marx
Jane Doe
Dan Steve

In [15]:
print(repr(emp1))
print(repr(emp2))
print(repr(emp3))
print(repr(emp4))
print(repr(emp5))

Employee('Henry', 'Miller', 50000)
Employee('Dan', 'Steve', 60000)
Employee('John', 'Smith', 51100)
Employee('Jane', 'Doe', 52100)
Employee('James', 'Scott', 53100)

In [16]:
print(emp1)
print()
print(emp2)
print()
print(emp3)
print()
print(emp4)
print()
print(emp5)

Employee Name: Henry Miller
Salary: 50000

Employee Name: Dan Steve
Salary: 60000

Employee Name: John Smith
Salary: 51100

Employee Name: Jane Doe
Salary: 52100

Employee Name: James Scott
Salary: 53100

In [17]:
print(repr(dev1))
print(repr(dev2))
print(repr(dev3))
print(repr(dev4))

Developer('Ed', 'Chase', 82500, 'Python')
Developer('Zero', 'Cage', 84700, 'C++')
Developer('Elvis', 'Marx', 83600, 'Java')
Developer('Bob', 'Fawcett', 86900, 'C')

In [18]:
print(dev1)
print()
print(dev2)
print()
print(dev3)
print()
print(dev4)

Employee Name: Ed Chase
Salary: 82500
Role: Python Developer

Employee Name: Zero Cage
Salary: 84700
Role: C++ Developer

Employee Name: Elvis Marx
Salary: 83600
Role: Java Developer

Employee Name: Bob Fawcett
Salary: 86900
Role: C Developer

In [19]:
print(repr(mgr1))
print()
print(repr(mgr2))

Manager('Johnny', 'Cage', 120000, [Developer('Zero', 'Cage', 84700, 'C++'), Developer('Bob', 'Fawcett', 86900, 'C'), Employee('John', 'Smith', 51100), Employee('Henry', 'Miller', 50000)])

Manager('Gary', 'Penn', 120000, [Developer('Ed', 'Chase', 82500, 'Python'), Developer('Elvis', 'Marx', 83600, 'Java'), Employee('Jane', 'Doe', 52100), Employee('Dan', 'Steve', 60000)])

In [20]:
print(mgr1)
print()
print(mgr2)

Employee Name: Johnny Cage
Role: Manager
Salary: 120000
Subordinates: [Developer('Zero', 'Cage', 84700, 'C++'), Developer('Bob', 'Fawcett', 86900, 'C'), Employee('John', 'Smith', 51100), Employee('Henry', 'Miller', 50000)]

Employee Name: Gary Penn
Role: Manager
Salary: 120000
Subordinates: [Developer('Ed', 'Chase', 82500, 'Python'), Developer('Elvis', 'Marx', 83600, 'Java'), Employee('Jane', 'Doe', 52100), Employee('Dan', 'Steve', 60000)]

In [23]:
print(issubclass(Developer, Manager))
print(issubclass(Manager, Developer))
print(issubclass(Manager, Employee))
print(issubclass(Developer, Employee))

False
False
True
True

In [24]:
print(isinstance(emp1, Employee))
print(isinstance(emp2, Employee))
print(isinstance(emp3, Employee))
print(isinstance(emp4, Employee))
print(isinstance(emp5, Employee))
print(isinstance(dev1, Developer))
print(isinstance(dev2, Developer))
print(isinstance(dev3, Developer))
print(isinstance(dev4, Developer))
print(isinstance(mgr1, Manager))
print(isinstance(mgr2, Manager))
print(isinstance(dev1, Employee))
print(isinstance(dev4, Employee))
print(isinstance(mgr2, Employee))

True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [25]:
isinstance(emp3, Developer)

False