In [1]:
students = [
    {'name': 'John', 'marks': 80},
    {'name': 'Jane', 'marks': 45},
    {'name': 'Bob', 'marks': 70},
    {'name': 'Alice', 'marks': 35}
]

update_status = lambda student: student.update({'status': 'pass'}) if student['marks'] >= 60 else student.update({'status': 'fail'})

list(map(update_status, students))

students

[{'name': 'John', 'marks': 80, 'status': 'pass'},
 {'name': 'Jane', 'marks': 45, 'status': 'fail'},
 {'name': 'Bob', 'marks': 70, 'status': 'pass'},
 {'name': 'Alice', 'marks': 35, 'status': 'fail'}]

In [2]:
# Aliter:

for element in students:
  if element['marks'] >= 60:
    element.update({'status' : 'pass'})
  else:
    element.update({'status' : 'fail'})

students

[{'name': 'John', 'marks': 80, 'status': 'pass'},
 {'name': 'Jane', 'marks': 45, 'status': 'fail'},
 {'name': 'Bob', 'marks': 70, 'status': 'pass'},
 {'name': 'Alice', 'marks': 35, 'status': 'fail'}]

In [3]:
# Aliter:

students = [
  {'name': 'John', 'marks': 80},
  {'name': 'Jane', 'marks': 45},
  {'name': 'Bob', 'marks': 70},
  {'name': 'Alice', 'marks': 35}
]

for student in students:
    student.update({'status': 'pass'} if student['marks'] >= 60 else {'status': 'fail'})

students

[{'name': 'John', 'marks': 80, 'status': 'pass'},
 {'name': 'Jane', 'marks': 45, 'status': 'fail'},
 {'name': 'Bob', 'marks': 70, 'status': 'pass'},
 {'name': 'Alice', 'marks': 35, 'status': 'fail'}]

In [4]:
# Aliter:

students = [
    {'name': 'John', 'marks': 80},
    {'name': 'Jane', 'marks': 45},
    {'name': 'Bob', 'marks': 70},
    {'name': 'Alice', 'marks': 35}
]

update_status = lambda student : {'name': student['name'], 'marks': student['marks'], 'status': 'pass'} if student['marks'] >= 60 else {'name': student['name'], 'marks': student['marks'], 'status': 'fail'}

final_list = list(map(update_status, students))

final_list

[{'name': 'John', 'marks': 80, 'status': 'pass'},
 {'name': 'Jane', 'marks': 45, 'status': 'fail'},
 {'name': 'Bob', 'marks': 70, 'status': 'pass'},
 {'name': 'Alice', 'marks': 35, 'status': 'fail'}]

In [5]:
people = [
    {"name": "John", "age": 25, "gender": "male"},
    {"name": "Emily", "age": 35, "gender": "female"},
    {"name": "Alex", "age": 28, "gender": "male"},
    {"name": "Sarah", "age": 30, "gender": "female"},
    {"name": "Max", "age": 42, "gender": "male"},
]

age_filter = lambda item : item['age'] >= 30

people_geq30 = list(filter(age_filter, people))

name_prefix = lambda item : 'Mr. ' + item['name'] if item['gender'] == 'male' else 'Ms. ' + item['name']

name_geq30 = list(map(name_prefix, people_geq30))

In [6]:
people_geq30

[{'name': 'Emily', 'age': 35, 'gender': 'female'},
 {'name': 'Sarah', 'age': 30, 'gender': 'female'},
 {'name': 'Max', 'age': 42, 'gender': 'male'}]

In [7]:
name_geq30

['Ms. Emily', 'Ms. Sarah', 'Mr. Max']

In [8]:
# Aliter:

people = [
    {"name": "John", "age": 25, "gender": "male"},
    {"name": "Emily", "age": 35, "gender": "female"},
    {"name": "Alex", "age": 28, "gender": "male"},
    {"name": "Sarah", "age": 30, "gender": "female"},
    {"name": "Max", "age": 42, "gender": "male"},
]

# Use a function instead of lambda for clarity
def is_age_geq_30(person):
    return person['age'] >= 30

people_geq30 = list(filter(is_age_geq_30, people))

# Use a function instead of lambda for clarity
def get_name_prefix(person):
    return f"Mr. {person['name']}" if person['gender'] == 'male' else f"Ms. {person['name']}"

name_geq30 = list(map(get_name_prefix, people_geq30))

In [9]:
people_geq30

[{'name': 'Emily', 'age': 35, 'gender': 'female'},
 {'name': 'Sarah', 'age': 30, 'gender': 'female'},
 {'name': 'Max', 'age': 42, 'gender': 'male'}]

In [10]:
name_geq30

['Ms. Emily', 'Ms. Sarah', 'Mr. Max']