# Printing patterns using loops

## Number patterns

In [2]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(i, end = ' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [3]:
for i in range(1, 6):
    for j in range(1, i + 1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
for i in range(1, 6):
    for j in range(5, i - 1, -1):
        print(i, end = ' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [6]:
for i in range(1, 6):
    for j in range(5, i - 1, -1):
        print(j, end = ' ')
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [8]:
for i in range(5, 0, -1):
    for j in range(5, i - 1, -1):
        print(i, end = ' ')
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [9]:
for i in range(5, 0, -1):
    for j in range(1, i + 1):
        print(i, end = ' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [10]:
k = 1

for i in range(1, 6):
    for j in range(1, i + 1):
        print(k, end = ' ')
        k = k + 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [11]:
k = 1 

for i in range(1, 6):
    for j in range(1, i + 1):
        print(k, end = ' ')
    print()
    k = k + 2

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [13]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end = ' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [14]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end = ' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j + i - 1, end = ' ')
    print()

1
3 2
5 4 3
7 6 5 4
9 8 7 6 5

In [1]:
x = 1
y = 2
k = y

for i in range(2, 7):
    for j in range(x, y):
        k = k - 1
        print(k, end = ' ')
    print()
    x = y
    y = y + i
    k = y
    
# Before 1st iteration: x = 1, y = 2, k = 2.
# Outer loop begins and i starts with the value  of 2.
# 1st iteration: i = 2, j = 1, k = 1, print k. After printing: x = 2, y = 4, k = 4.
# 2nd iteration: i = 3, j = (2, 3), k =  3, 2. After printing: x = 4, y = 7, k = 7.
# 3rd iteration: i = 4, j = (4, 5, 6), k = 6, 5, 4. After printing: x = 7, y = 11, k = 11.
# 4th iteration: i = 5, j = (7, 8, 9, 10), k = 10, 9, 8, 7. After printing: x = 11, y = 16, k = 16.
# 5th iteration: i = 6, j = (11, 12, 13, 14, 15), k = 15, 14, 13, 12, 11. After printing: x = 16, y = 22, k = 22.
# Outer loop ends as i increments to 7 and cannot reach 7 because of range(2, 7).

1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

In [10]:
rows = int(input('Enter the number of rows of the pattern: '))

for i in range(1, rows + 1):
    k = 1
    for j in range(rows, 0, -1):
        if j <= i:
            print(k, end = ' ')
            k = k + 1
        else:
            print(' ', end = ' ')
    print()

Enter the number of rows of the pattern: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [11]:
rows = int(input('Enter the number of rows of the pattern: '))

for i in range(1, rows + 1):
    k = 5
    for j in range(rows, 0, -1):
        if j <= i:
            print(k, end = ' ')
            k = k - 1
        else:
            print(' ', end = ' ')
    print()

Enter the number of rows of the pattern: 5
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [14]:
rows = int(input('Enter the number of rows of the pattern: '))

k = 1
for i in range(1, rows + 1):
    for j in range(rows, 0, -1):
        if j <= i:
            print(k, end = ' ')
        else:
            print(' ', end = ' ')
    print()
    k = k + 1

Enter the number of rows of the pattern: 5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [4]:
rows = int(input('Enter the number of rows of the pattern: '))

k = 5
for i in range(1, rows + 1):
    for j in range(rows, 0, -1):
        if j <= i:
            print(k, end = ' ')
        else:
            print(' ', end = ' ')
    print()
    k = k - 1

Enter the number of rows of the pattern: 5
        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [20]:
rows = int(input('Enter the number of rows in the pattern: '))

for i in range(1, rows + 1):
    k = 1
    for j in range(1, rows + 1):
        if j >= i:
            print(k, end = ' ')
            k = k + 1
        else:
            print(' ', end = ' ')
    print()

Enter the number of rows in the pattern: 5
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [21]:
rows = int(input('Enter the number of rows in the pattern: '))

for i in range(1, rows + 1):
    k = 5
    for j in range(1, rows + 1):
        if j >= i:
            print(k, end = ' ')
            k = k - 1
        else:
            print(' ', end = ' ')
    print()

Enter the number of rows in the pattern: 5
5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [22]:
rows = int(input('Enter the number of rows in the pattern: '))

k = 1
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j >= i:
            print(k, end = ' ')
        else:
            print(' ', end = ' ')
    print()
    k = k + 1

Enter the number of rows in the pattern: 5
1 1 1 1 1
  2 2 2 2
    3 3 3
      4 4
        5

In [24]:
rows = int(input('Enter the number of rows in the pattern: '))

k = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j >= i:
            print(k, end = ' ')
        else:
            print(' ', end = ' ')
    print()
    k = k - 1

Enter the number of rows in the pattern: 5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [16]:
rows = int(input('Enter the number of rows to be printed in the pattern: '))

for i in range(0, rows):
    for j in range(1, rows + 1 - i):
        print(j, end = ' ')
    print()

Enter the number of rows to be printed in the pattern: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [6]:
# Print Pascal's Triangle in the following pattern:

#      1
#     1 1
#    1 2 1
#   1 3 3 1
#  1 4 6 4 1
# 1 5 10 10 5 1

# Method 1: Here the Pascal's Triangle has been printed using the relationship between adjacent elements in a particular row.

'''
Consider any arbitrary (n + 1)th row (index = n, because the first row has n = 0, second row has n = 1 etc.) in the Pascal's 
Triangle. Consider any arbitrary kth element in that particular row. 
kth element can be obtained from the (k - 1)th element by multiplying the (k - 1)th element by (n - k + 1)/k.

For example, let n = 4. Consider the 2nd element. The second element is 4. The second element is indexed by k = 1.
Now we have to find the third element. The third element is indexed by k = 2.

Notice that, 4 * (4 - 2 + 1)/2 = 6. Hence we obtained the third (k = 2) element from the second (k = 1) element.
'''

rows = int(input('Enter the number of rows to be printed in the pattern: '))
coeff = 1

for i in range(0, rows):
    for space in range(i, rows):
        print(' ', end = ' ')
        
    for k in range(0, i + 1):
        if k == 0 or i == 0:
            coeff = 1
        else:
            coeff = int(coeff * ((i - k + 1) / k))
                
        print(f'{coeff : 4}', end = ' ')
            
    print()

Enter the number of rows to be printed in the pattern: 5
             1
           1    1
         1    2    1
       1    3    3    1
     1    4    6    4    1

In [7]:
# * * * * * 1
# * * * * 2 2
# * * * 3 3 3
# * * 4 4 4 4
# * 5 5 5 5 5
# 6 6 6 6 6 6

rows = int(input('Enter the number of rows of the pattern: '))
t = 1

for i in range(1, rows + 1):
    for space in range(i, rows):
        print('*', end = ' ')
        
    for k in range(rows, 0, -1):
        if k <= i:
            print(t, end = ' ')
        else:
            continue
    
    print()
    t = t + 1

Enter the number of rows of the pattern: 6
* * * * * 1
* * * * 2 2
* * * 3 3 3
* * 4 4 4 4
* 5 5 5 5 5
6 6 6 6 6 6

In [10]:
rows = int(input('Enter the number of rows of the pattern: '))
t = 1

for i in range(1, rows + 1):
    for space in range(i, rows + 1): 
        print(' ', end = ' ')
        
    for k in range(rows, 0, -1):
        if k <= i:
            print(f'{t : 3}', end = ' ') # This line is solely meant for formatting
        else:
            continue
    
    print()
    t = t + 1

Enter the number of rows of the pattern: 5
            1
          2   2
        3   3   3
      4   4   4   4
    5   5   5   5   5

In [11]:
rows = int(input('Enter the number of rows of the pattern: '))
t = rows

for i in range(1, rows + 1):
    for space in range(i, rows + 1):
        print(' ', end = ' ')
        
    for k in range(rows, 0, -1):
        if k <= i:
            print(f'{t : 3}', end = ' ')
        else:
            continue
    
    print()
    t = t - 1

Enter the number of rows of the pattern: 5
            5
          4   4
        3   3   3
      2   2   2   2
    1   1   1   1   1

In [12]:
rows = int(input('Enter the number of rows of the pattern: '))
t = 1

for i in range(1, rows + 1):
    for space in range(i, rows + 1):
        print(' ', end = ' ')
        
    for k in range(rows, 0, -1):
        if k <= i:
            print(f'{t : 4}', end = ' ')
            t = t + 1
        else:
            continue
            
    print()

Enter the number of rows of the pattern: 5
             1
           2    3
         4    5    6
       7    8    9   10
    11   12   13   14   15

In [13]:
rows = int(input('Enter the number of rows of the pattern: '))
t = int(rows * (rows + 1) / 2)

for i in range(1, rows + 1):
    for space in range(i, rows + 1):
        print(' ', end = ' ')
        
    for k in range(rows, 0, -1):
        if k <= i:
            print(f'{t : 3}', end = ' ')
            t = t - 1
        else:
            continue
            
    print()

Enter the number of rows of the pattern: 5
           15
         14  13
       12  11  10
      9   8   7   6
    5   4   3   2   1